<h1 class="text-center">Crear Role </h1>
<div class="card">
    <form method="post" asp-action="Create" class="card-body d-flex justify-content-between align-items-center">
        <span for="nombre" class="pr-2">Rol:</span>
        <input type="text" name="nombre" placeholder="Ingrese el nombre del rol a agregar" class="form-control" />
        <input type="submit" value="Crear" class="btn btn-primary" />
    </form>
</div>